@import url('https://fonts.googleapis.com/css2?family=Merriweather&family=Open+Sans&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
span{
    color: #00ff62;
}
body{
    background-color: #005eff;
}
header{
    position: relative;
    background: #00a13e;
    height: 85px;
    width: 100%;
    text-align: center;
    align-items: center;
    justify-content: center;
}
.logo{
   width: 100px;
   align-items: left;
   padding-left: 45px;
   padding-top: 05px;
}
.logo img{
    height: 80px;
}

.wel{
    text-align: center;
}

.wel h1{
    color: #fff;
}


.imggg{
    align-items: center;
    justify-content: center;
    text-align: center;
}
.imggg img{
    width: 280px;
}
.txt-cmc{
    text-align: center;
}
.txt-cmc h2 pre{
    color: #fff;
    font-size: 20px;
    font-family: 'Merriweather', serif;
}
.decoracao{
    text-align: left;
    top: 525px;
    right: 1380px;
}
.decoracao img{
    width: 200px;
}
.meio{
    justify-content: right; 
}
.txt-meio{
    text-align: center;
}
.txt-meio h1{    
    color: #fff;
}
.txt-meio h2{
    font-size: 20px;
    font-family: 'Merriweather', serif;   
    color: #fff;
}
pre{
    font-family: 'Merriweather', serif; 
}
.img-meio{
    text-align: right;
    padding-right: 80px;
}
.img-meio img.celular{
    position: relative;
    width: 300px;
    animation: flutuar 1s  ease-in-out infinite alternate;
    font-size: 60px;
}
.orecli{
    text-align: center;
}
.orecli h2{
    font-size: 20px;
    color: #fff;
}
.decoracaorecli{
    text-align: left;
    width: 30px;
}
.decoracaorecli img{
    width: 350px;
    position: relative;
    top: -120px;
}
.decoracaocantodatela{
    width: 300px;
    position: relative;
    right: 650px;
    top: 60px;

}
.decoracaocantodatela img{
    width: 150px;

}
@keyframes flutuar {
    0%{
        top: 0;
    }
    100%{
        top: 30px;
    }
}
::-webkit-scrollbar{
    background: #4589ff;
    width: 10px;
}
::-webkit-scrollbar-thumb{
    background-color: rgb(0, 161, 62);
    border-radius: 10px;
    border: 2px solid rgb(0, 165, 63);
}